$quads: (
  ('play', #43aa8b, flex-end, white, 'top-right'),
  ('eat', #b2b09b, flex-start, white, 'top-left'),
  ('fight', #372248, flex-start, white, 'bottom-left'),
  ('sleep', #db504a, flex-end, white, 'bottom-right')
);

@each $quad-name, $bg-color, $align, $font-color, $radius in $quads {
  .quad {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;

    &.#{$quad-name} {
      color: $font-color;
      padding: 20px;
      justify-content: center;
      text-align: center;
      background-color: $bg-color;
      border-#{$radius}-radius: 150%;

      @media screen and (max-width: 500px) {
        border-#{$radius}-radius: 0%;
      }

      ##{$quad-name}-container {
        align-items: center;
        align-self: center;

        ##{$quad-name}-score {
          font-size: 2em;
        }

        ##{$quad-name}-btn-container {
          align-self: center;
        }
      }
    }
  }
}
